/**
 * =reSet.css 
 **/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 13px;
  /* background: #0088c8; */
  background: #c0deed; }

div {
  padding: 0;
  margin: 0; }

a {
  padding: 0;
  margin: 0;
  text-decoration: none; }

abbr {
  cursor: pointer; }

input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

select {
  background: 0;
  border: 0;
  outline: 0; }

table {
  border-collapse: collapse; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

.fl-left {
  float: left; }

.bs-1 {
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.tab-a {
  background: #fff; }
  .tab-a tr {
    border-top: 1px solid #ddd; }
    .tab-a tr:first-child {
      border-top: 0; }
  .tab-a td {
    width: 189px;
    height: 92px;
    border-right: 1px solid #ddd; }
    .tab-a td:last-child {
      border-right: 1px solid #fff; }
    .tab-a td:hover {
      background: #f8f8f8; }
  .tab-a li {
    cursor: pointer; }

.dashed {
  margin-right: 10px;
  width: 1px;
  font-size: 15px;
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #fff; }

.title {
  position: relative;
  height: 32px;
  background-color: #fbfbfb;
  background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
  background-image: linear-gradient(top, #fff, #f5f5f5);
  color: #333;
  font-size: 14px;
  text-indent: 10px;
  line-height: 32px;
  border-bottom: 1px solid #ccc; }
  .title input[type=checkbox] {
    width: 12px;
    height: 12px; }

.ml10 {
  margin-left: 10px; }

/**
 * =nav.css
 **/
.nav {
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  background: #222;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif; }

.nav-con {
  width: 950px;
  height: 100%;
  margin: 0 auto; }
  .nav-con div {
    height: 100%; }
  .nav-con i {
    display: block;
    height: 100%; }
  .nav-con form {
    margin-top: 7px;
    width: 200px;
    height: 26px;
    padding: 3px 6px;
    background: #4e4e4e;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 #2a2a2a;
    box-sizing: border-box;
    border: 1px solid #141414;
    border-radius: 3px; }
    .nav-con form i {
      float: left;
      margin: 1px 5px 0 0;
      width: 15px;
      height: 15px;
      line-height: 14px;
      vertical-align: text-top;
      background: url(img/topbar.png) no-repeat transparent 0 -60px; }
    .nav-con form input {
      float: left;
      width: 143px;
      height: 18px;
      font-size: 12px;
      color: #222;
      background: 0; }

.logo {
  width: 90px;
  margin-right: 10px;
  background: url(img/topbar.png) no-repeat transparent 0 0; }

.phone {
  display: inline-block;
  margin-right: 15px;
  width: 82px;
  height: 24px;
  background: #2d2d2d;
  color: #ababab;
  font-size: 12px;
  border-radius: 3px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle; }
  .phone i {
    display: inline-block;
    margin-right: 6px;
    width: 9px;
    height: 14px;
    background: url(img/topbar.png) no-repeat transparent 0 -40px;
    line-height: 14px;
    vertical-align: text-top; }

.menu {
  float: right;
  height: 100%;
  font-size: 13px; }
  .menu li {
    float: left;
    line-height: 40px;
    color: #ccc; }
    .menu li:nth-child(5) {
      padding: 0 10px;
      line-height: 38px;
      color: #2e2e2e;
      font-size: 14px; }
  .menu li.login {
    padding: 0 10px; }
    .menu li.login a {
      padding: 0; }
  .menu a {
    display: inline-block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    color: #ccc; }
  .menu #buy {
    display: block;
    float: left;
    position: relative;
    padding: 10px;
    height: auto;
    line-height: 0; }
  .menu .icon-tcart {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(img/topbar.png) no-repeat transparent 0 -80px; }

/**
 * =content 
 */
.container {
  margin: 0 auto;
  width: 950px; }

.breadcrumb {
  position: relative;
  margin: 15px 0 10px;
  color: #0088c8; }
  .breadcrumb a {
    color: #0088c8; }

.fix-btn {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px; }
  .fix-btn a {
    color: #fff; }

/* advertisement */
.ad {
  position: relative;
  margin-bottom: 10px;
  height: 80px;
  background: green; }

.slider {
  position: absolute;
  bottom: 4px;
  right: 0;
  color: #666;
  z-index: 10; }

.slider li {
  margin-right: 10px;
  float: left;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 15px;
  text-align: center; }

/* collection */
.collection {
  margin-bottom: 15px; }

.config {
  float: right;
  margin-right: 10px;
  color: #999; }
  .config:hover {
    color: #0088c8;
    text-decoration: underline; }

.my-col td {
  background: url(img/bg.gif) no-repeat -112px -94px; }
  .my-col td:hover {
    background: url(img/bg.gif) no-repeat -303px -94px; }

/* brand */
.brand {
  margin-bottom: 15px; }

.brand .title {
  text-indent: 1px; }

.go-brand {
  padding: 0 6px;
  background: #0c9efc;
  color: #fff;
  border-radius: 2px;
  font-size: 16px; }
  .go-brand:hover {
    text-decoration: underline; }

.brand .item {
  position: relative;
  height: 72px; }

.item img, .item span, .item a, .item div {
  position: absolute;
  color: #666; }

.res-pic {
  top: 0;
  left: 10px;
  padding: 1px;
  border: 1px solid #ddd; }

.res-name {
  display: block;
  top: 0;
  left: 64px;
  width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px; }

.time {
  bottom: 0;
  left: 10px;
  width: 42px;
  text-align: center; }

.type {
  font-size: 12px;
  top: 19px;
  left: 64px; }

.star {
  top: 34px;
  left: 64px;
  width: 61px;
  height: 14px;
  background: url(img/bg.gif) no-repeat -1px -193px; }

.quantity {
  top: 35px;
  left: 128px;
  font-size: 12px; }

.special {
  bottom: 2px;
  left: 66px;
  width: 100px;
  height: 15px;
  overflow: hidden; }
  .special span {
    margin-right: 4px;
    width: 15px;
    height: 15px; }

.tag-new {
  background: url(img/tag.png) transparent 0 0 no-repeat; }

/* rest */
.check-res {
  color: #333;
  font-size: 14px; }
  .check-res:hover {
    text-decoration: underline; }
  .check-res span {
    color: #fe6000;
    font: normal 20px/1em Arial,'Helvetica Neue',sans-serif; }

.box-wrap {
  margin-right: 10px; }

.pick {
  position: absolute;
  top: 0;
  right: 0; }
  .pick span {
    display: inline-block;
    margin: 1px 10px 0; }
  .pick span.progress {
    margin-top: 0; }

.end {
  width: 58px; }

.progress {
  width: 130px;
  height: 12px;
  background: #8bbedd;
  box-shadow: 0 1px 1px #739db5 inset;
  border-radius: 6px; }

/* qa */
.qa {
  margin: 30px 0;
  height: 93px;
  text-align: center; }
  .qa a {
    display: inline-block;
    margin-right: 50px;
    width: 150px;
    height: 93px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
    .qa a:last-child {
      margin-right: 0; }
  .qa img {
    display: inline-block; }

/* groupbug */
.groupbuy {
  margin-bottom: 15px; }

/* more-res */
/* footer */
.footer {
  margin: 30px 0 20px; }
  .footer ul {
    display: block;
    margin: 0 0 10px;
    width: 100%;
    text-align: center; }
  .footer ul li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #777;
    font-size: 13px; }
    .footer ul li:first-child {
      border-left: 0; }
    .footer ul li a {
      color: #08c; }
      .footer ul li a:hover {
        text-decoration: underline; }
  .footer p {
    text-align: center; }

.copyright {
  margin: 0 0 15px;
  color: #777; }

.info {
  height: 32px; }
  .info a {
    display: inline-block;
    padding: 0 20px;
    color: #666;
    text-align: left; }
    .info a:first-child {
      border-right: 1px solid #bbb; }
  .info i {
    display: block;
    float: left;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    vertical-align: text-top; }
  .info span {
    float: left;
    font-size: 12px;
    line-height: 14px; }

.icon-icp {
  background: url(img/global-sprites.png) no-repeat 0 0; }

.icon-aic {
  background: url(img/global-sprites.png) no-repeat -40px 0; }

/*# sourceMappingURL=home.css.map */
